@model NP.Models.User
@using Microsoft.AspNetCore.Identity;
@using NP.Models;
@using NP.Data;


<h1>Details</h1>
<hr />

<div class="container">
    <div class="pb-4">
        <h4 class="py-2">@Model.FirstName @Model.LastName</h4>
        <h6 style="color:darkorange">Username: @Model.UserName</h6>
       </div>
    </div>
