@page
@model NextPage.Pages.LogoutModel
@{


}

<form method="post">
    <div class="container mt-5">
        <div class="row justify-contet-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <p>Are you sure you want to logout?</p>
                <p>
                    <button class="btn btn-primary" asp-page-handler="Logout">Logout</button>
                    <button class="btn btn-light ml-5 border-dark" asp-page-handler="NoLogout">Cancel</button>
                </p>
            </div>
        </div>
    </div>
</form>


