@page
@model NextPage.Pages.RegistrationModel
@{

    <div class="container mt-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h1 class="mb-3">Register</h1>

                <form method="post">
                    <div asp-validation-summary="All" class="text-danger">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Model.Nickname">Nickname</label>
                        <input type="text" asp-for="Model.Nickname" class="form-control" />
                        <span asp-validation-for="Model.Nickname" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Model.FirstName">First Name</label>
                        <input type="text" asp-for="Model.FirstName" class="form-control" />
                        <span asp-validation-for="Model.FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Model.LastName">Last Name</label>
                        <input type="text" asp-for="Model.LastName" class="form-control" />
                        <span asp-validation-for="Model.LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Model.Email">Email</label>
                        <input type="email" asp-for="Model.Email" class="form-control" />
                        <span asp-validation-for="Model.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Model.Password">Password</label>
                        <input type="password" asp-for="Model.Password" class="form-control" />
                        <span asp-validation-for="Model.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Model.ConfirmPassword">Confirm Password</label>
                        <input type="password" asp-for="Model.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

}

